#popup-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.sidebar:hover{
    position: absolute;
    width: 20%;
    background-color: rgba(86, 87, 88, 0.781);
    

}

#popup-trigger:hover{
    height: 40px;
    width: 50px;
    background-color: rgb(245, 206, 206);
    cursor: pointer;
}
